:root {
    --primary-color: #212121;
    --secondary-color: #757575;
    --thirty-color: #FFFFFF;
    --primary-font: "Roboto", sans-serif;
    --normal-font: 400;
    --medium-font: 500;
    --bold-font: 700;
    --bolder-font: 900;
    --min-font-size: 14px;
    --normal-font-size: 16px;
    --high-font-size: 36px;
    
   }
.content {
    width: 1600px;
    font-family: var(--primary-font);
    color: var(--primary-color);
    margin: 0 auto;
    font-size: var(--min-font-size); 
    text-decoration: none;
}

.active-color {
    color: #2196F3;
}

.header {    
    height: 80px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.menu-list, .menu {
    list-style: none;
    display: flex;
    align-items: center;
}

.menu-link {
    color: var(--primary-color);
    text-decoration: none;
}
.list {
    text-decoration: none;
    list-style: none;
}
.logo {
        font-family: 'Raleway';
        font-weight: var(--bold-font);
        font-size: 26px;
        line-height: 1.19;   
        letter-spacing: 0.03em;    
        color: var(--primary-color);
        padding-left: 215px;
        display: block;
        margin-right: 93px;
        text-decoration: none;
        } 

.menu-item {
    
        font-weight: var(--medium-font);
        font-size: var(--min-font-size);
        line-height: 1.14;
        letter-spacing: 0.02em;    
        color: var(--primary-color);
        margin-right: 50px;
        display: block;
        text-decoration: none;
}
.list-contacts {
    margin-left: 331px;
    display: flex;
    
}
.menu-item-email {
    font-family: var(--primary-font);        
        font-weight: var(--medium-font);
        font-size: var(--min-font-size);
        line-height: 1.14;
        letter-spacing: 0.02em;    
        color: var(--primary-color);
        margin-right: 50px;
        text-decoration: none;
        }
.menu-item-phone {
    font-family: var(--primary-font);        
        font-weight: var(--medium-font);
        font-size: var(--min-font-size);
        line-height: 1.14;
        letter-spacing: 0.02em;    
        color: var(--secondary-color);
        text-decoration: none;
                }
.main-section {
    
        height: 600px;           
        background-color: #2F303A;
        align-items: center;
}
.main-title {
    
        font-weight: var(--bolder-font);
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--thirty-color);
        padding: 200px 452px 30px;
        
}
.button-order {
    width: 200px;
        height: 50px;
        background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        margin: 30px 700px 200px;
        color: var(--thirty-color);
        font-weight: var(--bold-font);
        font-size: var(--normal-font-size);
        line-height: 1.88;         
        align-items: center;       
        letter-spacing: 0.06em;
        text-align: center;           

}
.benefits-list {
    padding: 94px 215px;
    list-style: none;
    display: flex;
}

.benefits-title {
    font-size: var(--min-font-size);
        font-weight: var(--bold-font);
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;    
        margin-bottom: 10px;
        width: 270px;
        height: 16px;

}
.benefits-p {
    
        font-weight: var(--normal-font);
        line-height: 1.71;           
        letter-spacing: 0.03em;    
        color: var(--secondary-color);
        width: 270px;
        height: 75px;
        margin-right: 30px;
}
.works {
    align-items: center; 
    
    }
.works-title {
    height: 42px;
    font-weight: var(--bold-font);
    font-size: var(--high-font-size);
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;        
    margin-bottom: 50px;   
}
.works-list {
    display: flex;
    align-items: center;
    margin-left: 215px;
    margin-right: 215px;
    margin-top: 50px;
    margin-bottom: 94px;
    list-style: none;
}

.works-item {
    margin-right: 30px;
    width: 370px;
}
.team {
    
    height: 648px;
    padding-top: 94px;
    background: #F5F4FA;
}
.team-title {    
        
        font-weight: var(--bold-font);
        font-size: var(--high-font-size);
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;        
}
.team-list {
    display: flex;
    align-items: center;
    margin-top: 50px;
    padding-left: 215px;
    list-style: none;
}
.team-item {
    margin-right: 30px;
}
.team-item-h {    
      
        font-weight: var(--medium-font);
        font-size: var(--normal-font-size);
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;    
        }

.team-item-p {    
        font-weight: var(--normal-font);
        font-size: var(--normal-font-size);
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;    
        color: var(--secondary-color);
}
footer {  
    
    height: 252px;
    background: #2F303A;
}

.logo-footer {
    font-family: 'Raleway';
        font-weight: var(--bold-font);
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--thirty-color);
        text-decoration: none;
        padding-left: 215px;
        padding-top: 60px;
        display: block;
        margin-bottom: 20px;
        }
.address {
    padding-left: 215px;
    font-style: normal;
}
.address-street {
    
        font-weight: var(--normal-font);
        line-height: 1.71;
        letter-spacing: 0.03em;    
        margin-top: 20px;
        margin-bottom: 9px;
        color: var(--thirty-color)
}
.address-contacts {
    
        font-weight: var(--normal-font);
        line-height: 1.71;
        letter-spacing: 0.03em;    
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
        margin-bottom: 9px;
}

.address-contacts-email {
    width: 231px;
    height: 21px;
    margin-top: 9px;
    margin-bottom: 9px;
}
.address-contacts-phone {
    width: 231px;
    height: 21px;
    margin-top: 9px;
    margin-bottom: 60px;
}


.address-contacts-email:hover,
.address-contacts-email:focus,
.address-contacts-phone:hover,
.address-contacts-phone:focus,
.address-street:hover,
.address-street:focus,
.menu-studio:hover,
.menu-studio:focus,
.menu-portfolio:hover,
.menu-portfolio:focus,
.menu-contacts:hover,
.menu-contacts:focus,
.menu-item-email:hover,
.menu-item-email:focus,
.menu-item-phone:hover,
.menu-item-phone:focus
 {
    color: #2196F3;
}

.menu-item-email:hover,
.menu-item-email:focus,
.address-contacts-email:hover,
.address-contacts-email:focus {
    color: #2196F3;
}


.work-examples {
    Width 1170px;
    Height 1360px;
    
}

.filters {
    
        font-weight: var(--medium-font);
        font-size: var(--normal-font-size);
        line-height: 1.63;
        text-align: center;
        letter-spacing: 0.03em;
        list-style: none;
        display: flex;
        align-items: center;  
        color: var(--primary-color)
        background-color: #F5F4FA
        height: 26px;
        padding-left: 517px;
}
.filters-li {
    margin-right: 30px;    
    font-weight: var(--medium-font);
    font-size: var(--normal-font-size);
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;    
    color: var(--primary-color);

 }

 .filters-button {
    
        font-weight: var(--medium-font);
        font-size: var(--normal-font-size);
        line-height: 1.62;         
        text-align: center;
        letter-spacing: 0.03em;    
        color: var(--primary-color);
 }

.work-examples-img {
    
    padding-left: 215px;
    list-style: none;
    display:flex;
    padding-right: 215px;
    
}

.work-examples-h {
    width: 322px;
        height: 36px;
        font-weight: var(--bold-font);
        font-size: 18px;
        line-height: 2.0;         
        letter-spacing: 0.06em;    
        color: var(--primary-color);
        padding-top: 20px;
        padding-bottom: 4px;
}
.work-examples-p {
    
    
        font-weight: var(--normal-font);
        font-size: var(--normal-font-size);
        line-height: 1.88;           
        letter-spacing: 0.03em;    
        color: var(--secondary-color);
}
.filters-button:hover,
.filters-button:focus {
    
    color: var(--thirty-color);
    background-color: #2196F3
}
.filters-button, .button-order {
    cursor: pointer;
}
.menu-list .menu-link.current {
    color: #2196F3
}








            
            


            